<% @page_title = "Contact" %>
<% @page_header = "Contact Us" %>

<div class="row">

  <div id="contact_message" class="col-sm-offset-2 col-sm-5">

    <form class="container form-horizontal" role="form">
    </form>

  </div>



  <div id="contact_info" class="col-sm-5">
  </div>

</div>
