<% @page_title = "Challenge : #{@challenge.name}" %>
<% @page_header = @challenge.name %>
<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <p>Some random pic</p>
</div>

<article class="row">

  <div class="container col-sm-7">
    <div class="chlng_info button btn-large text-center">
      Creator: <%= @challenge.creator %>
    </div>
    <div class="chlng_info button btn-large text-center">
      <%= @challenge.open_flag ? "Public" : "Closed" %><%= " Challenge" %><br />
      <%= "Requires #{@challenge.min_num} to #{@challenge.max_num} People" if @challenge.min_num %>
    </div>
    <div class="chlng_info button btn-large text-center">
      Challenge Payoff: <%= @challenge.creator %>
    </div>
  </div>

  <div class="container col-sm-5">
  </div>

</article>

<article class="row">

  <div class="container">
    <div class="chlng_info button btn-large text-center">
      Challenge Deadline: <%= @challenge.deadline %>
    </div>
    <div class="chlng_info_lg button btn-large text-center">
      Challenge Description<br /><br /><%= @challenge.description %>
    </div>
    <div class="chlng_info_lg button btn-large text-center">
      Requirements<br /><br /><%= @challenge.requirement %>
    </div>
  </div>

</article>

<%= link_to 'Edit', edit_challenge_path(@challenge), class: 'btn btn-default' %> |
<%= link_to 'Back', challenges_path, class: 'btn btn-default'  %>
