<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote_challenge.user_id %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @vote_challenge.challenge_id %>
</p>

<%= link_to 'Edit', edit_vote_challenge_path(@vote_challenge) %> |
<%= link_to 'Back', vote_challenges_path %>
