@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin|Dosis|Lobster|Nunito|Maven+Pro|Shadows+Into+Light|Orbitron|Open+Sans+Condensed:300|Ubuntu+Condensed|Coming+Soon);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";
@import "challenges";


/** body **/
body{
  background-color: lighten($bgcolor, 10%);
}

.site-wrapper{
  background-color: $bgcolor;
  min-height: 770px;
}


/** forms **/
form{
  @include form($form_color);
}
/** links **/
a,
a:focus,
a:hover {
  text-decoration: none;
}

/** header **/
.main_header{
  background-color: grayscale(invert($bgcolor));

  h1{
    @include header(48px);
  }
}

#myCarousel{
  min-height: 70%;
  width: 100%;
  padding: 50px;
  font-size: 30px;
}



/** navbar **/
nav{
  padding: 0 10% 0;

  .navbar-brand{
    font-size: 500%;
    padding: 10%;
    color: 'red';
  }

  .list{
    li{
      font-family: 'Raleway';
    }
  }
}


/** footer **/
